// -------------------------------------------------------------------------------------------------
// Colors
$grey-dark:			#333;
$grey-darker: 	#333;
$grey:					#ccc;
$grey-lighter:	#ccc;
$grey-light:		#ebebeb;

$black:					#030000;
$white:					#fff;

$blue: 					#4183c4;

$red-dark:			#c0392b;
$red:						#e74c3c;

// -------------------------------------------------------------------------------------------------
// Fonts
$font-sans-serif:		Candara, Arial, sans-serif;
$font-serif: 				Menlo, Monaco, Consolas, 'Courier New', Monospace;

// -------------------------------------------------------------------------------------------------
$grid-columns:			12 !default;
$grid-gutter-width:	30px !default;